# Copy this file to .env and fill in your values

# Backend API URL
# Local: http://localhost:8000
# Production: http://YOUR_EC2_PUBLIC_IP:8000
REACT_APP_API_URL=http://localhost:8000

# Frontend app URL (used for Sign Up link redirect)
# Local: http://localhost:3000
# Production: https://YOUR_FRONTEND_CLOUDFRONT_URL.cloudfront.net
REACT_APP_FRONTEND_URL=http://localhost:3000
